.index-audio{
   display:flex;
   justify-content: center;
   align-items: center;
    @extend %bloques;
    h2{
        font-size: font-2;
        li{
            ul{
                list-style: none;
            }
        }
       
    }
    
}
.videos{
    display: map-get($flex , flx );
    justify-content: map-get($flex , jusc );
    align-items:  map-get($flex , alin ) ;
    @extend %bloques;
    .vide0-ifr{
        width: 310px;
        height: 310px;
        padding: 5px;
        margin: 10px;
    }
}


.img-sect{
    height: 150px;
    width: 150px;
    padding: 15px;
    margin: 10px;
}