.index-audio{
    display: flex;
    justify-content: center;
    flex-direction: column;
    @extend %bloques;
    h2{
        font-family: 'Times New Roman', Times, serif;
        li{
            ul{
                list-style: none;
            }
        }
       
    }
    
}
.videos{
    display: flex;
    justify-content: center;
    @extend %bloques;
    .vide0-ifr{
        width: 310px;
        height: 310px;
        padding: 5px;
        margin: 10px;
    }
}


.img-sect{
    height: 150px;
    width: 150px;
    padding: 15px;
    margin: 10px;
}