.index-audio{
    @extend %bloques;
    h2{
        font-size: $font-2;
        margin-left: 15px;
        ul{
            display: map-get($flex , flx );
            justify-content: map-get($flex , jusc );
            align-items:  map-get($flex , alin ) ;
            flex-direction: column;
            list-style-type: none;
        
       }

    }

    
}
.videos{
    display: map-get($flex , flx );
    justify-content: map-get($flex , jusc );
    align-items:  map-get($flex , alin ) ;
    @extend %bloques;
    .vide0-ifr{
        width: 310px;
        height: 310px;
        padding: 5px;
        margin: 10px;
    }
}


.img-sect{
    height: 150px;
    width: 150px;
    padding: 15px;
    margin: 10px;
}

@media (max-width:576px){
    .index-audio{}

}